.city_card_container {
  width: 20%;
  padding: 1%;
  border: 1px solid;
  border-radius: 5px;
  margin: 3% 0;
  background: bisque;
  cursor: pointer;
}

.guage_container {
  padding: 1%;
}

.city_card_container:hover {
  box-shadow: 5px 5px;
}

.category,
.aqi {
  font-size: x-large;
}

.aqi {
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .city_card_container {
    width: 40%;
  }

  .btn {
    padding: 1%;
  }
}

@media only screen and (max-width: 450px) {
  .city_card_container {
    width: 100%;
  }

  .btn {
    padding: 2%;
  }
}
